body
{
background-color:#b26201;
}
a:link
{
color:#acf6ef;
text-decoration:none;}
.box
{margin:0 auto;
width:1000px;
height:1000px;
}

.head
{background-color:white;
width:1000px;
height:200px;
}

.picture
{width:200px;
height:200px;
background-image:url(../picture/2.png);
float:left;
}

.flash
{
width:305px;
height:200px;
float:left;
}
.picture1
{width:100px;
height:200px;
background-image:url(../picture/22.jpg);
float:left;
}
.picture2
{width:100px;
height:200px;
background-image:url(../picture/27.jpg);
float:left;
}
.picture3
{width:95px;
height:200px;
background-image:url(../picture/26.jpg);
float:left;
}
.picture4
{width:100px;
height:200px;
background-image:url(../picture/25.jpg);
float:left;
}
.picture5
{width:100px;
height:200px;
background-image:url(../picture/24.jpg);
float:left;
}
.daohang
{width:1000px;
height:50px;
background-color:#FF4C6C;
clear:left;}
.left
{width:400px;
height:390px;
background-color:#865200;
float:left;
}
.right
{width:600px;
height:390px;
background-color:#333;
float:right;
}
.bottom
{width:1000px;
height:300px;
background-color:#865200;
clear:both;
}
.foot
{width:1000px;
height:50px;
background-color:#FFD7BB;
}
.main
{width:1000px;
height:750px;
background-color:#FFD7BB;
}
.main1
{width:1000px;
height:750px;
background-image:url(../picture/35.jpg);
}

.z
{width:350px;
height:750px;
float:left;
}
.y
{width:643px;
height:750px;
float:left;
}